# Created by https://www.toptal.com/developers/gitignore/api/valgrind,visualstudiocode,c
# Edit at https://www.toptal.com/developers/gitignore?templates=valgrind,visualstudiocode,c

### C ###
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

### Valgrind ###
# Callgrind output files
callgrind.out
callgrind.out.*

# Cachegrind output files
cachegrind.out
cachegrind.out.*

# Massif output files
massif.out
massif.out.*

# BBV output files
bb.out
bb.out.*



### VisualStudioCode ###
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# End of https://www.toptal.com/developers/gitignore/api/valgrind,visualstudiocode,c